.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: start;
  margin: 0 0 8px 0;
  width: 100%;
  color: #262629;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  position: absolute;
  width: 100%;
  top: 0;
  margin: 0;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header .inner {
  display: flex;
  height: 64px;
  margin: 0 auto;
  padding: 0 128px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: #eeeeee 0 8px 16px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 96px auto;
  width: 800px;
  align-items: center;
  gap: 32px;
}

.logo a {
  display: flex;
  align-items: center;
  margin-inline-start: auto;
  font-size: 32px;
  font-weight: bold;
  color: #4A3BF3;
  text-decoration: none;
  gap: 4px;
}

.header-nav {
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 64px;
}

.header-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  color: #262629;
}

.header-user a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #F53A3A;
  text-decoration: none;
  font-weight: bold;
}

.button-create {
  height: 48px;
  width: 148px;
  border-radius: 8px;
  background: #4A3BF3;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 48px;
}

.card {
  width: 100%;
  border-radius: 8px;
  box-shadow: #eeeeee 0 8px 16px;
  box-sizing: border-box;
  padding: 24px;
}

.cards {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.card-actions {
  display: flex;
  gap: 16px;
}

.edit {
  color: #4A3BF3;
  text-decoration: none;
  font-weight: bold;
}

.delete {
  color: #F53A3A;
  text-decoration: none;
  font-weight: bold;
}

.card .text {
  color: #262629;
  text-decoration: none;
  margin: 16px 0;
}

.card .text p {
  height: 64px;
  line-height: 140%;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.copy-link {
  display: flex;
  width: 100%;
  gap: 8px;
}

.copy-link input {
  width: 100%;
  margin: auto;
  height: 44px;
  padding: 0 16px;
  border-radius: 8px;
  border: 2px solid #EAEAEA;
  background-color: #ffffff;
  color: #262629;
  font-size: 16px;
}

.copy-link input:hover {
  border-color: #4A3BF3;
}

.copy-link input:focus {
  border-color: #4A3BF3;
  outline:none;
}

button {
  display: flex;
  height: 48px;
  padding: 8px 24px 8px 24px;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #4A3BF3;
  background: #ffffff;
  color: #4A3BF3;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
}

button:hover {
  cursor:pointer;
  background: #4A3BF3;
  color: #ffffff;
}

.create {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.textarea h3 {
  width: 100%;
  margin: 0 4px;
  font-size: 16px;
  font-weight: normal;
  color: #262629;
}

.textarea textarea {
  box-sizing: border-box;
  width: 100%;
  height: 512px;
  border-radius: 8px;
  border: 2px solid #EAEAEA;
  background-color: #ffffff;
  padding: 16px;
  resize: none;
  font-size: 16px;
}

.textarea textarea:hover {
  border-color: #4A3BF3;
}

.textarea textarea:focus {
  border-color: #4A3BF3;
  outline:none;
}

.select {
  position: relative;
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
}

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #262629 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 65%;
  z-index: 1;
  margin-top: -3px;
}

.select h3 {
  margin: 0 0 0 4px;
  font-size: 16px;
  font-weight: normal;
  color: #262629;
}

.select select {
  width: 160px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #EAEAEA;
  background-color: #ffffff;
  color: #262629;
  padding: 0 16px;
  font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.select select:hover {
  border-color: #4A3BF3;
  outline: none;
}

.select select:active {
  border-color: #4A3BF3;
  outline: none;
}

.create-actions {
  width: 100%;
  display: flex;
}

.create-actions .button {
  height: 48px;
  width: 128px;
  padding: 8px 24px 8px 24px;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #4A3BF3;
  background: #ffffff;
  color: #4A3BF3;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
}

.create-actions .button:hover {
  cursor:pointer;
  background: #4A3BF3;
  color: #ffffff;
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.back-btn {
  display: flex;
  width: 80px;
  color: #4A3BF3;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  padding: 8px 0;
  gap: 4px;
}

.actions-block {
  display: flex;
  width: 100%;
  gap: 16px;
}

.actions-block p {
  margin: 0;
  width: 100%;
  color: #808083;
  font-weight: bold;
}

.text {
  color: #262629;
  line-height: 140%;
  margin: 0;
}

.block {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
}

.delete-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.delete-form p {
  color: #262629;
  font-size: 24px;
  margin: 0;
}

.delete-form-actions {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center
}

.delete-form-actions a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background: #4A3BF3;
  border: 2px solid #4A3BF3;
  border-radius: 8px;
  height: 32px;
  width: 80px;
  text-align: center;
  line-height: 32px;
}

.delete-form-actions a:hover {
  background: #ffffff;
  color: #4A3BF3;
  border: 2px #4A3BF3 solid;
}

.delete-form-actions input {
  width: 80px;
  height: 36px;
  border-radius: 8px;
  color: #F53A3A;
  background: #ffffff;
  border: 2px #F53A3A solid;
  font-size: 16px;
  font-weight: bold;
}

.delete-form-actions input:hover {
  color: #ffffff;
  background: #F53A3A;
  border: none;
  cursor: pointer;
  box-shadow: #FFB2B2 0 4px 16px;
}

.login-register {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 24px;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #262629;
}

.field input {
  box-sizing: border-box;
  width: 400px;
  height: 48px;
  padding: 0 16px;
  border-radius: 8px;
  border: 2px solid #EAEAEA;
  background-color: #ffffff;
  color: #262629;
  font-size: 16px;
}

.field input:hover {
  border-color: #4A3BF3;
}

.field input:focus {
  border-color: #4A3BF3;
  outline:none;
}

.hint {
  display: flex;
  justify-content: center;
  color: #262629;
}

.hint a {
  color: #4A3BF3;
  text-decoration: none;
  font-weight: bold;
}

.button {
  display: flex;
  height: 48px;
  padding: 8px 24px 8px 24px;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid #4A3BF3;
  background: #4A3BF3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}

.button:hover {
  cursor:pointer;
  border: 2px solid #4A3BF3;
  background: #ffffff;
  color: #4A3BF3;
}

.messages {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  gap: 8px;
}

.messages p {
  width: 100%;
  color: #F53A3A;
  margin: 0;
}
