{% extends 'main.html' %}


{% block content %}
  <h1>Your Blocks</h1>

  {% if blocks|length > 0 %}
    {% for b in blocks %}
      <div class="card">
        <div class="card-actions">
          <a class="edit" href="{% url 'edit-block' b.url %}">Edit</a>
          <a class="delete" href="{% url 'delete-block' b.url %}">Delete</a>
        </div>
        <a class="text" href="{% url 'block' b.url %}"><p>{{ b.text }}</p></a>

        <div class="copy-link">
          <input type="text" class="copy-link-input" value="{{ link }}/{{ b.url }}" readonly>
          <button type="button" class="copy-link-button">Copy Link</button>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>You don't have any blocks yet</p>
  {% endif %}

  <script src="static/base/js/copy_text.js"></script>
{% endblock content %}
