{% extends 'main.html' %}


{% block content %}
  <div class="title">
    {% if request.user.is_authenticated %}
      <a class="back-btn" href="{% url 'index' %}"><span class="material-icons md-24">arrow_back</span>Back</a>
    {% endif %}
    <h1>Create Block</h1>
  </div>

  <form class="create" action="" method="POST">
    {% csrf_token %}
    <div class="textarea">
      <h3>Text:</h3>
      {{ form.text }}
    </div>
    <div class="create-actions">
      <div class="select">
        <h3>Delete After:</h3>
        {{ form.delete_after }}
      </div>
      <input class="button" type="submit" value="Save">
    </div>
  </form>
{% endblock content %}
